/* Este contenedor centrará el círculo en el centro de la pantalla, tanto horizontal como verticalmente */
.loader-container {
  /* display: flex; */
  /* text-align: center; */
  justify-content: center; /* Centra horizontalmente */
  align-items: center;     /* Centra verticalmente */
  height: 80vh;           /* Ocupa toda la altura de la pantalla */
  padding-left: 50vh;
}

/* Estilo para los derechos (texto debajo del círculo) */
.derechos {
  margin-top: 30%;
  font-size: 0.75rem; /* Letra pequeña */
  color: gray;        /* Color gris */
  text-align: center; /* Centra horizontalmente */
}

/* Estilos del loader (círculo de carga) */
.loader {
  width: 300px;
  height: 300px;
  background-color: #ff3d00;
  border-radius: 50%;
  position: relative;
  box-shadow:
    0 0 30px 4px rgba(0, 0, 0, 0.5) inset,
    0 5px 12px rgba(0, 0, 0, 0.15);
  overflow: hidden;
}

.loader:before,
.loader:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 45%;
  top: -40%;
  background-color: #fff;
  animation: wave 5s linear infinite;
}

.loader:before {
  border-radius: 30%;
  background: rgba(255, 255, 255, 0.4);
  animation: wave 5s linear infinite;
}

@keyframes wave {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
