.full-screen-container {
  display: flex;
  flex-direction: column;
  /* Asegura que el contenedor ocupe toda la pantalla */
  min-height: 90vh; 
  /* Opcional: Ajusta el padding para tu layout */
  padding-left: 20px; 
}